{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_buy %}
    <a
        href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
        class="btn btn-block btn-buy"
        title="{{ "listing.boxProductDetails"|trans|striptags }}">
        {{ "listing.boxProductDetails"|trans|sw_sanitize }}
    </a>
{% endblock %}

{% block component_product_box_action_detail %}
    <a
        href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
        class="btn btn-block btn-buy"
        title="{{ "listing.boxProductDetails"|trans|striptags }}">
        {{ "listing.boxProductDetails"|trans|sw_sanitize }}
    </a>
{% endblock %}
